
AnimalApp/.gradle/7.5/checksums/checksums.lock
AnimalApp/.gradle/7.5/dependencies-accessors/dependencies-accessors.lock
AnimalApp/.gradle/7.5/dependencies-accessors/gc.properties
AnimalApp/.gradle/7.5/executionHistory/executionHistory.lock
AnimalApp/.gradle/7.5/fileChanges/last-build.bin
AnimalApp/.gradle/7.5/fileHashes/fileHashes.bin
AnimalApp/.gradle/7.5/fileHashes/fileHashes.lock
AnimalApp/.gradle/7.5/gc.properties
AnimalApp/.gradle/buildOutputCleanup/buildOutputCleanup.lock
AnimalApp/.gradle/buildOutputCleanup/cache.properties
AnimalApp/.gradle/vcs-1/gc.properties
AnimalApp/.idea/compiler.xml
AnimalApp/.idea/gradle.xml
AnimalApp/.idea/misc.xml
AnimalApp/.idea/vcs.xml
